<%= render 'shared/head' %> 

<div class="contents">
  <div class="left_wrap">
  <%= form_tag('/acceptings', method: :post) do %>
  <%= render 'shared/4choice' %> 

    <input type="submit" value ="保存" class = "btn-square-pop">
  <% end %>

  
</div>


<%= render 'shared/bottom' %> 