    <div class="header">
      S p e c i a l - C o n t a i n e r
    </div>
  
    <div class="contents">
      <ul>
        <% if user_signed_in? %>
        <p>右記のメールアドレスでログインしております" <strong><%= current_user.email %>"</strong>.</p>
        <li><a data-method="delete" href="/users/sign_out">ログアウト</a></li>
        <li><a href="/bookings/new">検索画面</a></li>
          <% if current_user.admin? %>
          <li><a href="/bookings/search">コンテナ課担当者さん専用画面</a></li>
          <% end %>
        <% else %>
        <li><a href="/users/sign_up">新規登録</a></li>
        <li><a data-method="new" href="/users/sign_in">ログイン</a></li>
        <% end %>
      </ul>
    </div>


    

<div class="footer">
  <p>Copyright Toshio Kaneda 2019.</p>
</div>