    <div class="header">
      S p e c i a l - C o n t a i n e r
    </div>
    
    <div class="menu">
      <ul>
        <li><a href="#">検索画面</a></li>
        <li><a href="#">ログアウト</a></li>
       </ul>
    </div>
    
    
<body>    
    <div class="contents">
    <div class="form-group">
      <label for="custom-select-1b">Which Port ?</label><br>
        <select id="custom-select-1b" class="custom-select">
          <option>Tokyo</option>
          <option>Yokohama</option>
          <option>Nagoya</option>
          <option>Yokkaichi</option>
          <option>Osaka</option>
          <option>Kobe</option>
          <option>Hiroshima</option>
          <option>Mizushima</option>
          <option>Tokuyama</option>
          <option>Moji</option>
          <option>Hakata</option>
        </select>
    </div>
        
    <div class="form-group">
      <label for="custom-select-1b">Which Container Type ?</label><br>
        <select id="custom-select-1b" class="custom-select">
          <option>20FR</option>
          <option>40FR</option>
          <option>20OT</option>
          <option>40OT</option>
        </select>
    </div>
     
    <div class="form-group">
      <label for="custom-select-1b">Which week ?</label><br>
        <select id="custom-select-1b" class="custom-select">
          <% 52.times do |num| %>
            <option><%= num + 1 %></option>
          <% end %>
        </select>
    </div><br>
    <div class="row justify-content-center">
            <!--    <p>ボタンが・・</p>-->
            <!--    <input type="button" value="ボタン">-->
            <!--<% @booking.each do |booking| %>-->
            <!--<p><%= booking.main_column %></p>-->
            <!--<% end %>        -->
      
  <div class="buttons">
    <a class="button" href="#about">Search</a>
  </div>
</div>
    

<div class="footer">
  <p>Copyright Toshio Kaneda 2019.</p>
</div>