<%= render 'shared/head' %>  

    <div class="contents">
      <div class="left_wrap">
        <% if user_signed_in? %>
      
      <%= form_tag('/bookings/seek_booking_result', method: :get) do %>
      <%= render 'shared/4choice' %> 
    
      <input type="submit" value ="在庫確認からBooking" class = "btn-square-pop">
      <% end %>
  </div>
    
      <div class="right_wrap">
        <ul>
        <a class="btn-square-pop" href="/bookings/new">すぐ Booking</a>
        <% if current_user.admin? %>
          <p><a class="btn-square-pop2" href="/bookings/search">申請内容更新</a></p>
          <p><a class="btn-square-pop2" href="/acceptings/new">在庫薄設定</a></p>
          <p><a class="btn-square-pop2" href="/acceptings/show">在庫薄一覧</a></p>
          <p><a class="btn-square-pop2" href="/bookings/admin">USER更新</a></p>
        <% end %>
        <% else %>
        <li><a href="/users/sign_up">新規登録</a></li>
        <li><a data-method="new" href="/users/sign_in">ログイン</a></li>
        <% end %>
        </ul>
      </div>
    </div>

<%= render 'shared/bottom' %>  

