    <div class="header">
      S p e c i a l - C o n t a i n e r
    </div>
  
    <div class="contents">
      <ul>
        <% if user_signed_in? %>
        <p>右記のメールアドレスでログインしております" <strong><%= current_user.email %>"</strong>.</p>
        <li><a href="edit_user_registration">プロフィール変更</a></li>
        <li><a data-method="delete" href="destroy_user_session">ログアウト</a></li>
        <li><a href="/bookings/new">検索画面</a></li>
        <% else %>
        <li><a data-method="new" href="/users/sign_in">サインイン</a></li>
        <li><a href="/users/sign_up">ログイン</a></li>
        <% end %>
      </ul>
    </div>

    

<div class="footer">
  <p>Copyright Toshio Kaneda 2019.</p>
</div>