<%= render 'shared/head' %> 
<div class="button_right"><button><%= link_to "ジャッジ検索に戻る", "/bookings/search" , {:class => "btn-square-pop2"}%></button></div>
ご担当者さんいつもお疲れさま　＾＾
 
<%= render 'shared/bottom' %>  
 