<p>たぶんパスワードを忘れちゃった、どんまいな <%= @resource.email %>さんへ</p>

<p>パスワード変更申請がTKシステムに届きました。変更したいなら下のリンクから変更を進めてください</p>
<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>変更申請してないですか？それでも大丈夫。元々のパスワードは変更されません。</p>
<p>上のリンクから変更されない限り、あなたのパスワードは変更されないので安心してくださいね。</p>
