<p>こんにちは。 <%= @resource.email %>さん!</p>

<p>なんか何回もテキトーなパスワードぶち込まれたから、とりあえずTKシステムはあなたのアカウントをロックしましたわ</p>

<p>何回もトライしたのであれば、諦めが悪いわねw　もしイタズラされたならかわいそうだけど、下のリンクからロック解除の手続きを進めてね</p>

<p><%= link_to 'アンロックしたい！', unlock_url(@resource, unlock_token: @token) %></p>
